/******************************************************************************
FSWD:  Yuko Uda, Brittany-Renee Davis & Christopher Zenner
Date:  03/29/2020
File:  style.css
Ver.:  0.1.0 20200329

This CSS specifies the layout and styling for a recipe search app/site.
*******************************************************************************/

/* Debug */
.debug-border-red { border: 1px solid red !important; }
.debug-border-org { border: 1px solid orange !important; }
.debug-border-ylw { border: 1px solid yellow !important; }
.debug-border-grn { border: 1px solid green !important; }
.debug-border-blu { border: 1px solid blue !important; }
.debug-border-pur { border: 1px solid purple !important; }